.button-bubble {
    position: relative;
    display: block;
    margin: 0 auto;
    width: fit-content;
    overflow: hidden;

    background: linear-gradient(90deg, #5AC4FF 0%, #B250FF 100%);
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
    border-radius: pxToRem(62px);

    font-family: Comfortaa;

    font-weight: 700;
    font-size: pxToRem(24px);
    line-height: pxToRem(27px);
    text-align: center;
    text-transform: none;

    color: $simpleWhite;

    padding: pxToRem(26px) pxToRem(57px);


    :first-child {
        position: absolute;
        left: -10%;
        bottom: 30%;
        width: pxToRem(106px);
        height: pxToRem(106px);
        border-radius: pxToRem(85px);
        background: rgba(255, 255, 255, 0.2);

    }

    :nth-child(2) {
        position: absolute;
        left: 5%;
        bottom: 60%;
        width: pxToRem(56px);
        height: pxToRem(56px);
        border-radius: pxToRem(85px);
        background: rgba(255, 255, 255, 0.32);
    }

    :nth-child(3) {
        position: absolute;
        right: -5%;
        top: 40%;
        width: pxToRem(106px);
        height: pxToRem(106px);
        border-radius: pxToRem(85px);
        background: rgba(0, 0, 0, 0.08);
    }

}