@import './_variables.scss';
@import "./helpers/_pxToRem";

 header {
  position: absolute;
  z-index: 1;
  top: 0;
  width: 100%;
     padding: pxToRem(25px) 0 pxToRem(39.46px) 0;
     font-weight: 700;
     font-size: pxToRem(36px);
     line-height: pxToRem(40px);
     text-transform: uppercase;
     color: $simpleWhite;
    
     nav,ul,.header-menu__authorization{
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      width: 80%;
      font-weight: 700;
        font-size: pxToRem(20px);
        line-height: pxToRem(22px);
        a{
          color: $simpleWhite;
        text-decoration: none;
      text-transform: none;
     }
                 nav,ul a {
                   position: relative;
                   text-decoration: none;
                 }
        
                 nav,ul a::after {
                   content: "";
                   display: block;
                   height: 2px;
                   width: 0;
                   position: absolute;
                   bottom: -2px;
                   left: 0;
                   background-color: $simpleWhite;
              
                   transition: width 0.3s ease-out;
                 }
        
                 nav,ul a:hover::after,
                 nav,ul a:focus::after {
                   width: 100%;
                 }
.header-menu__authorization a{
  
  text-transform: uppercase;
  font-family: $authorization;
    font-style: normal;
    font-weight: 500;
    font-size: pxToRem(13.4237px);
    line-height: pxToRem(16px);
    text-align: center;
    letter-spacing: pxToRem(1.25px);
    
  }
  
}
a.checked {
  padding: pxToRem(10px) pxToRem(16px);
  border-radius: pxToRem(60px);
  background: rgba(255, 255, 255);
  border: 1px solid rgba(0, 0, 0, 0.12);
  color: #BB6DF3;
}
 }

 .header-menu__navigation{
  width: 60%;
  @media screen and (max-width:pxToRem(1179px)) {
    display: none;
    visibility: hidden;
  }
 }

 .header-wrapper {
     display: flex;
     align-items: center;
     justify-content: space-between;
 }

 .header-menu__button {
     display: flex;
     height: 100%;
     z-index: 3;
     flex-direction: column;
     gap: pxToRem(4.64px);
     cursor: pointer;
    transition:$bezierTransition;

     span {
         width: pxToRem(51.07px);
         height: pxToRem(5.57px);
         border-radius: pxToRem(22px);
         background-color: $simpleWhite;
     }

             @media screen and (min-width:pxToRem(1180px)) {
               display: none;
               visibility: hidden;}
 }
 .header-menu__button:hover,.header-menu__button:focus{

  
    transform: scale(1.1);
      transition: $bezierTransition;
  
    
 }
  .active {
    gap: 0;
      :first-of-type {
      transition:$bezierTransition;
        transform: translateY(5px) rotate(45deg);
      }
      :nth-last-of-type(2){
        transition: $bezierTransition;
        transform: rotate(-45deg);
      }
      :last-of-type{
        display: none;
        visibility: hidden;
        transition:$bezierTransition;
      }
  }

  .activePage{
    border-bottom: 2px solid $simpleWhite;
  }
 