.button-bubble {
    position: relative;
    display: block;
    width: fit-content;
    overflow: hidden;

    background:$buttonPrimary;
    box-shadow:$buttonShadow;
    border-radius: pxToRem(62px);

    font-family: $paragrafFont;

    font-weight: 700;
    font-size: pxToRem(24px);
    line-height: pxToRem(27px);
    text-align: center;
    text-transform: none;

    color: $simpleWhite;

    padding: pxToRem(26px) pxToRem(57px);
    transition: $bezierTransition;
    
//Circles in button, after hover/focus they moved
    :first-child {
        position: absolute;
        left: -10%;
        bottom: 30%;
        width: pxToRem(106px);
        height: pxToRem(106px);
        border-radius: pxToRem(85px);
        background: rgba(255, 255, 255, 0.2);
        transition:$bezierTransition;

    }

    :nth-child(2) {
        position: absolute;
        left: 5%;
        bottom: 60%;
        width: pxToRem(56px);
        height: pxToRem(56px);
        border-radius: pxToRem(85px);
        background: rgba(255, 255, 255, 0.32);
        transition: $bezierTransition;
    }

    :nth-child(3) {
        position: absolute;
        right: -5%;
        top: 40%;
        width: pxToRem(106px);
        height: pxToRem(106px);
        border-radius: pxToRem(85px);
        background: rgba(0, 0, 0, 0.08);
        transition: $bezierTransition;

    }

&:focus,&:hover{
        background:$buttonPrimaryFocused;
            box-shadow: $buttonShadowFocused;
            transition: $bezierTransition;
         
            :first-child {
                    left: 40%;
                    bottom: 50%;
                }
            
                :nth-child(2) {
                    left: 35%;
                    bottom: 50%;
                }
            
                :nth-child(3) {
                    right: 15%;
                    top: 60%;
                }
}
}