footer  {
    background: url(@img/BG-footer.png) no-repeat top right/cover;
    color: $simpleWhite;

    .footer-wrapper  {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
        gap: 50px;
        padding-top: pxToRem(422px);
        div{
            margin-bottom: pxToRem(79px);
            max-width: pxToRem(422px);
        }

        @media screen and (max-width:1179px) {
            padding-top: pxToRem(250px);
             div:not(:last-of-type){
                display: none;
                visibility: hidden;
                
             }
              div{
                margin-left: auto;
                margin-right: auto;
                width: 100%;
                
              }
              h2{
                white-space: pre-wrap;
              }
            }
    }
 
    h2 {
    white-space: nowrap;
        font-weight: 700;
        font-size: pxToRem(48px);
        line-height: pxToRem(54px);
        margin-bottom: pxToRem(70px);
    }

    ul {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        a{
            color: inherit;
        }
    }
}

.footer-copyright {
    padding: pxToRem(42.9px) 0;
    width: 100%;
    text-align: center;
    border-top: 1px solid #ffffff79;
}