.statistic-block {
    margin: pxToRem(131.39px) 0;
    text-align: center;

    @media screen and (min-width:pxToRem(1180px)) {
        display: flex;
        justify-content: space-around;
        align-items: baseline;
}
    span {
        display: block;
        font-weight: 700;
        font-size: pxToRem(42px);
        line-height: pxToRem(47px);
        margin-bottom: pxToRem(8px);
    }

    p {
        font-weight: 700;
        font-size: pxToRem(20px);
        line-height: pxToRem(22px);
        color: #718DC2;
    }

    div:not(:last-of-type) {
        margin-bottom: pxToRem(63px);
        @media screen and (min-width:pxToRem(1180px)) {
            margin-bottom: 0;
        }
    }
}

#num1::before {
    content: url(@img/svgicons/load.svg);
    display: block;
    margin-bottom: pxToRem(17px);
}

#num2::before {
    content: url(@img/svgicons/add-user.svg);
    display: block;
    margin-bottom: pxToRem(17px);
}