.tarif-section__title {
    font-family: $headingTitle;
    font-weight: 300;
    font-size: pxToRem(72px);
    line-height: pxToRem(84px);
    text-align: center;
    text-transform: uppercase;
    hyphens: auto;
    margin-bottom: pxToRem(18px);
}

.tarif-section__description {
    font-family: $headindSecondary;
    font-weight: 400;
    font-size: pxToRem(30px);
    line-height: pxToRem(37px);
    text-align: center;

    color: $greyText;
    margin-bottom: pxToRem(64px);
}

.tarif-section-card__list {
    display: flex;
    justify-content: center;
    gap:pxToRem(40px);
    width: 100%;
    overflow: hidden;
    padding-bottom: pxToRem(40px);
    
    @media screen and (min-width:pxToRem(1180px)) {
        overflow: visible;
    }
}

.tarif-card {
    cursor: pointer;
    font-family: $paragrafFont;
    text-align: center;
    font-weight: 400;
    max-width: pxToRem(450px);
    min-width: pxToRem(320px);

    padding: pxToRem(57px) pxToRem(40px) pxToRem(40px) pxToRem(40px);
    border-radius: pxToRem(20px);
    box-shadow: $blockShadow;
    background: url(@img/BG-card.png) no-repeat left top/276px 173px #FCFCFF;
    transition: $bezierTransition;
    
    @media screen and (min-width:pxToRem(1180px)) {
    opacity: 0.5;
    .simple-button{
            opacity: 0;
            transition: $bezierTransition;
    }
    &:hover,
        :focus,&.focused{
            opacity: 1;
            transform: scale(1.06);
            transition: $bezierTransition;

            .simple-button,.tarif-card__post{
                opacity: 1;
                transition: $bezierTransition;
            }
        }
    }
}

.tarif-card__title {
    line-height: pxToRem(18px);
    color: $freshText;
    margin-bottom: pxToRem(14px);
}

.tarif-card__days {
    font-weight: 700;
    font-size: pxToRem(48px);
    line-height: pxToRem(54px);
    margin-bottom: pxToRem(28px);
}

.tarif-card__price {
    font-size: pxToRem(64px);
    line-height: pxToRem(71px);

    color: $brightText;
    margin-bottom: pxToRem(51.29px);
}

.tarif-card__hr {
    display: block;
    margin: 0 auto pxToRem(53.65px) auto;
    width: pxToRem(186.21px);
    border-top: pxToRem(1px) solid #D3D3D3;
}

.tarif-card__products {
    position: relative;
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: pxToRem(40px);
    font-size: pxToRem(20px);
    line-height: pxToRem(9px);

    color: #567796;
    margin-bottom: pxToRem(63.23px);
  li{
    text-align: start;
  }

    li:after {
        content: url(@img/svgicons/check.svg);
        position: absolute;
        right: 0;
    }
}

.tarif-card__post {
    @media screen and (min-width:pxToRem(1180px)) {
        opacity: 0;
        transition: $bezierTransition;
    }
    margin-top: pxToRem(63.23px);
}