

$mainTextColor: #3B668D;
$simpleWhite: #ffffff;
$simpleBlack:#000000;
$greyText:#79788F;
$freshText:#40BF3D;
$brightText:#8572FF;

$monochromeBackground:linear-gradient(135.76deg, #9584FF 20.74%, #B556FF 76.27%);


$headingTitle: Roboto;
$headindSecondary: Montserrat;
$paragrafFont:Comfortaa;
$authorization:Poppins;

$bezierTransition:all .4s cubic-bezier(0.075, 0.82, 0.165, 1);

$buttonPrimary:linear-gradient(90deg, #5AC4FF 0%, #B250FF 100%);
$buttonPrimaryFocused:linear-gradient(90deg, #4db9f3 0%, #a94fee 100%);
$buttonShadow:0px 6px 8px rgba(0, 0, 0, 0.2);
$buttonShadowFocused:0px 15px 10px rgba(0, 0, 0, 0.2);

$blockShadow:(0px 13px 27px rgba(0, 0, 0, 0.1));
