

$mainTextColor: #3B668D;
$simpleWhite: #ffffff;
$simpleBlack:#000000;
$greyText:#79788F;
$freshText:#40BF3D;
$brightText:#8572FF;


$headingTitle: Roboto;
$headindSecondary: Montserrat;
$paragrafFont:Comfortaa;

$bezierTransition:all .4s cubic-bezier(0.075, 0.82, 0.165, 1);
