@use 'fonts';
@use './components/header';
@import './_variables.scss';
@import './resetStyles/_normolize.scss';
@import './resetStyles/_resetCss.scss';
@import './helpers/_pxToRem';

html {
    font-family: $paragrafFont;
    font-size: 18px;
    font-weight: 400;
    color:$mainTextColor;
}

.content-container {
    max-width: pxToRem(1350px);
    width: 100%;
    margin: 0 auto;
    padding: 0 pxToRem(8px);
    
   @media screen and (min-width:pxToRem(1180px)) {
    padding: 0 pxToRem(25px);
   }
}

@import './components/mainSection';
@import "./components/bubbleButton";
@import "./components/prosSection";
@import "./components/tarifSection.scss";
@import './components/statisticSection';
@import './components/footer';
@import "./components/modal";
@import './components/form';
@import './components/simpleButton';
@import './components/faqSection';
@import './components/pageTitle';

//map object in Contact-section
.contact-map_image{
    object-fit: cover;
    padding-top: pxToRem(54px);
    margin: 0 auto;
}

//Blocks appears in smoothy when class added
.fade-in-right {
    opacity: 0;
    transition: opacity 1s ease, transform 0.6s ease;
}
.fade-in-right.visible {
    opacity: 1;
    transition: opacity 1s ease, transform 0.6s ease;
}

