@use 'fonts';
@import './_variables.scss';

@import './resetStyles/_normolize.scss';
@import './resetStyles/_resetCss.scss';

html {
    font-family: Comfortaa;
    font-size: 18px;
    background-color: aquamarine;
    color:$mainTextColor;
}

@import './helpers/_pxToRem';
@import './components/_header.scss';
@import './components/_mainSection.scss';
@import "./components/_bubbleButton";


.content-section{

}
.content-container {
    max-width: 1350px;
    width: 100%;
    margin: 0 auto;
    padding:0 8px;
  
}


//////////////////////////////
.main-section__list{
display: block;
    margin-top: pxToRem(123px);
    font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        line-height:pxToRem(27px);
        color: $simpleWhite;
        text-transform: none;
        background-color: aquamarine;
        
:not(:last-child){
    margin-bottom: pxToRem(16px);
}
}

.main-section-item__title{
    font-family: Roboto;
        font-weight: 500;
        font-size: pxToRem(28px);
        line-height: pxToRem(40px);
        color: $simpleBlack;
        text-transform: uppercase;
        margin-bottom: pxToRem(16px);
}


////////////
.tarif-section{

    margin-top: pxToRem(182px);
}
.tarif-section__title{
    font-family: Roboto;

        font-weight: 300;
        font-size: pxToRem(72px);
        line-height: pxToRem(84px);
        text-align: center;
        text-transform: uppercase;
        hyphens: auto;
        margin-bottom: pxToRem(18px);
}

.tarif-section__description{
font-family: Montserrat;

    font-weight: 500;
    font-size: pxToRem(30px);
    line-height:pxToRem(37px);
    text-align: center;

    color: $greyText;
margin-bottom: pxToRem(64px);
}